---
import MIT_logo from '../assets/MIT_logo.png';
import Harvard_logo from '../assets/Harvard_logo.svg';
import Caltech_logo from '../assets/Caltech_logo.png';
import Princeton_logo from '../assets/Princeton_logo.png';
import Berkeley_logo from '../assets/Berkeley_logo.svg';
import Cambridge_logo from '../assets/Cambridge_logo.png';
import gradient from '../assets/gradient-light.svg';
---

<div class="container">
	<img class="background" src={gradient.src} alt="" fetchpriority="high" />
	<div class="padder">
		
		<section id="hero">
			<div class="hero-row">
				<div class="hero-title-stack">
					<h1 class="title-font"> 
						Radically better research, radically faster
					</h1>
					<p class="subtitle">
						Our AI assistant carefully reads hundreds of academic papers for you, finding exactly what you need, no matter how complex.
					</p>
				</div>
				<section id="links">
					
					<a class="button-outline" href="/#features">Learn more</a>
					<a class="button" style="color: var(--bg-focus);" href="https://app.undermind.ai">Try Searching Free</a>
				</section>
			</div>
			<section id="social-proof">
				<p class="xs">Trusted and used by researchers at</p>
				<div class="social-proof-logos">
					<img src={MIT_logo.src} alt="MIT" />
					<img src={Harvard_logo.src} alt="Harvard" />
					<img src={Caltech_logo.src} alt="Caltech" />
					<img src={Princeton_logo.src} alt="Princeton" />
					<img src={Berkeley_logo.src} alt="Berkeley" />
					<img src={Cambridge_logo.src} alt="Cambridge" />
				</div>
			</section>
		</section>
	</div>
</div>

<style>

	#hero {
		display: flex;
		height: 100vh;
		flex-direction: column;
		align-items: center;
		justify-content: end;
		gap: 120px;
		width: 100%;
	}

	#hero-row {
		display: flex;
		flex-direction: row;
		gap: 40px;
		align-items: center;
	}

	#links {
		display: flex;
		flex-direction: column;
		gap: 8px;
		justify-content: end;
		min-width: 320px;
	}

	#social-proof {
		display: flex;
		flex-direction: column;
		gap: 20px;
		margin-bottom: 60px;
		align-items: center;
		width: 100%;
	}

	.background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		object-fit: cover;
	}

	.hero-title-stack {
		display: flex;
		flex-direction: column;
		gap: 8px;
		width: 66%;
	}

	.hero-row {
		max-width: 1200px;
		width: 100%;
		display: flex;
		flex-direction: row;
		gap: 40px;
	}

	.social-proof-logos {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		flex-wrap: wrap;
		align-items: center;
	}

	.social-proof-logos img {
		height: 40px;
		width: auto;
		object-fit: contain;
	}
	@media (max-width: 1024px) {
		.social-proof-logos img {
			height: 30px;
		}
	}

	@media (max-width: 768px) {
		.hero-row {
			flex-direction: column;
			gap: 20px;
		}
		.hero-title-stack {
			width: 100%;
		}
		#links {
			max-width: 320px;
			flex-direction: column-reverse;
		}
		.social-proof-logos {
			justify-content: center;
			gap: 10px;
		}
		.social-proof-logos img {
			height: 20px;
		}
		
	}
</style>
